@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { @apply m-0 bg-slate-50 antialiased; }
  button, a { @apply cursor-pointer; }
  button, input { font: inherit; }
}

@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}
